<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirBnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render partial: 'nav', locals: {user: current_user}%>
    <div class="pt4"><%= yield %></div>
  </body>
</html>
